.navbar {
  position: fixed;
  padding: 25px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  transition: ease 0.25s;
  color:white;
  background-color: rgb(238, 129, 46);
  top:0;
}
.active{
  top:44px;
  background-color: transparent;
}
.navbar a{
  font-size: 0.85rem;
}
.active:hover {
  background-color: white;
}
.active:hover a{
  color:black;
}
.active:hover .kinfield a {
  color: rgb(233, 175, 132);
  border:none;
}
.navbar a {
  padding: 0px 30px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  transition: ease-in-out 0.25s;
}
.active a:hover {
  color: rgb(233, 175, 132);
  border-bottom: solid 1px  rgb(233, 175, 132);
}
span {
  visibility: hidden;
}
.size{
  width: 40px;
  height: 40px;
}
.kinfield {
  margin-top: -15px;
}
.kinfield a {
  text-transform: lowercase;

  font-size: 2.5rem;
}
.last{
  margin-right: 50px;
}