.background{
    width: 45%;
}
.container{
    margin-top: 200px;
    display: flex;
}
.title{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 100px;
}
.text{
    margin-left:7.320644216691069vw ;
    margin-right:7.320644216691069vw ;
}